$font-family: 'Satoshi', sans-serif;
$font-variant-base: 'normal';
$font-feature-settings-base: 'normal';
$primary-color: #16B364;
$link-color: #16B364;
$success-color: #16B364;
$warning-color: #FACC15;
$error-color: #E94444;
$heading-color: #26272B;
$text-color: #3F3F46;
$text-color-secondary: #3F3F46;
$border-radius-base: 0px;
$border-color-base: #D0D5DD;
$typography-title-margin-top: 0;
$typography-title-margin-bottom: 0;
$form-item-margin-bottom: 0;
$form-vertical-label-padding: 0 0 2px;
$input-border-color: #D0D5DD;
$select-multiple-item-disabled-color: #000000;
$select-dropdown-height: 42px;
$select-item-selected-color: #000000;
$dropdown-vertical-padding: 10px;
$btn-primary-color: #fff;
$btn-primary-bg: #16B364;
